body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1f262c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section--global {
  padding: 0 20px;
}

/* ? Section Navbar */
.section--navbar {
  height: 60px;
  width: 100%;
  /* background-color: blueviolet; */
}

.div--nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1b252e;
  /* border-bottom: 1px solid blue; */
}

.div--icon,
.div--home,
.div--search,
.div--profil {
  /* background-color: red; */
  /* border: 1px solid white; */
  height: 100%;
  width: 23%;
  display: flex;
  align-items: center;
}

.style--icons,
.profil--image {
  height: 25px;
  /* width: 30px; */
}

.div--home .home--logo {
  /* background-color: green; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div--search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
}

.div--search .search {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: gray; */
}

.div--search .search-input {
  padding: 10px 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: gray;
}

.div--profil {
  display: flex;
  justify-content: space-around;
}

.div--profil .div--profil-image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* border: 2px solid red; */
}

.div--profil-image .profil--image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* object-fit: fill; */
}

.div--profil .div--icons--profil {
  height: 100%;
  width: 40%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div--icons--profil .profil--icons {
  height: 30px;
  width: 30px;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div--icons--profil .cloche {
  position: relative;
}

.profil--icons .rouge {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 2px;
  right: 2px;
}

.profil--icons .logo--profil {
  height: 18px;
}

/* ? Section Main */
.section--main {
  border-top: 1px solid blue;
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-around;
  background-color: #283038;
}

/* * Main Gauche */
.section--main .main--gauche {
  height: 100%;
  width: 23%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.main--gauche .div--gauche {
  height: 250px;
  width: 90%;
  /* border: 2px solid red; */
  background-color: #1b252e;
  padding: 6px;
  border-radius: 10px;
}

.div--gauche .gauche--1 {
  height: 10%;
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: end;
}

.gauche--1 .dark--mode--text {
  color: #ffffff;
  padding: 0 4px;
}

.div--gauche .gauche--2 {
  height: 15%;
  width: 100%;
  background-color: #283038;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0 8px;
  padding-top: 4px;
}

.gauche--2 p,
.div--trois p {
  color: #ffffff;
  font-size: 0.8rem;
}

.div--gauche .gauche--3 {
  height: 69%;
  width: 100%;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

.gauche--3 .div--trois {
  background-color: #283038;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* * Main Milieu */
.section--main .main--milieu {
  min-height: 800px;
  width: 50%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  /* background-color: green; */
}

/* * Main Droite */
.section--main .main--droit {
  width: 20%;
  /* background-color: purple; */
}

/* .main--droit .div--droite {
  border: 2px solid red;
} */

.main--droit .div--droite h3 {
  color: #ffffff;
}

.div--droite .info--birthdays {
  /* border-bottom: 1px solid blue; */
  display: flex;
  align-items: center;
  height: 40px;
  padding-bottom: 6px;
  /* font-weight: bold; */
}

.div--droite .linear--gradient {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(8, 143, 202, 1) 0%,
    rgba(50, 76, 215, 1) 49%,
    rgba(8, 143, 202, 1) 100%
  );
}

.info--birthdays p,
.div--friends h3 {
  color: #ffffff;
}

.info--birthdays img {
  padding-right: 4px;
}

.info--birthdays span,
.div--friends .span {
  color: rgba(50, 76, 215, 1);
  /* padding-left: 2px; */
}

.div--droite .div--friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid whitesmoke; */
  height: 35px;
}

.div--friends .profil--icons {
  /* background-color: aqua; */
  height: 25px;
  width: 25px;
}

.div--friends .span {
  font-weight: normal;
}

.div--friends .div--icons--profil {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.list--friends {
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-row-gap: 4px;
}

.list--friends .gauche--2 {
  display: flex;
  align-items: center;
  /* border: 2px solid green; */
  border-radius: 8px;
  font-weight: 400;
  padding: 2px 0 0 4px;
  background-color: #1b252e;
  height: 35px;
}

.list--friends .gauche--2 p {
  padding-left: 4px;
}

.div--droite .show--more {
  /* border: 2px solid black; */
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgb(30, 58, 219);
  font-size: 0.8rem;
}
